* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --outline: #3a2119;
  --black: #000;
  --brown1: #a1735c;
  --brown2: #9a6951;
}

body {
  /* min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center; */
}

.container {
  /* width: 365px;
  height: 415px; */
  width: 365px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aqua;
}

/* 71 Largura x 81 Altura */
.art {
  position: relative;
  top: 0;
  height: 5px;
  width: 5px;
  box-shadow: 
  /* line 1 */
    210px 0px var(--outline),
    215px 0px var(--outline),
    220px 0px var(--outline),
    225px 0px var(--outline),
    230px 0px var(--outline),
    235px 0px var(--outline),
    240px 0px var(--outline),
    245px 0px var(--outline),
    250px 0px var(--outline),
    255px 0px var(--outline),
    260px 0px var(--outline),
    265px 0px var(--outline),
    270px 0px var(--outline),

  /* line 2 */
    200px 5px var(--outline),
    205px 5px var(--outline),
    210px 5px var(--black),
    215px 5px var(--black),
    220px 5px var(--black),
    225px 5px var(--black),
    230px 5px var(--brown1),
    235px 5px var(--brown2),
    240px 5px var(--brown2),
    245px 5px var(--brown2),
    250px 5px var(--brown2),
    255px 5px var(--brown2),
    260px 5px var(--brown2),
    265px 5px var(--brown2),
    270px 5px var(--brown1),
    275px 5px var(--outline),
    280px 5px var(--outline),
    285px 5px var(--outline),
    290px 5px var(--outline),
    295px 5px var(--outline),

    /* line 3 */
    195px 10px var(--outline),
    200px 10px var(--black),
    205px 10px var(--black),
    210px 10px var(--black),
    215px 10px var(--black),
    220px 10px var(--black),
    225px 10px var(--black),
    230px 10px var(--brown1),
    235px 10px var(--brown2),
    240px 10px var(--brown2),
    245px 10px var(--brown2),
    250px 10px var(--brown2),
    255px 10px var(--brown2),
    260px 10px var(--brown2),
    265px 10px var(--brown2),
    270px 10px var(--brown1),
    275px 10px var(--brown1),
    280px 10px var(--brown1),
    285px 10px var(--black),
    290px 10px var(--black),
    295px 10px var(--black),
    300px 10px var(--outline),
    305px 10px var(--outline),
    310px 10px var(--outline),

    /* line 4 */
    190px 15px var(--outline),
    195px 15px var(--black),
    200px 15px var(--black),
    205px 15px var(--black),
    210px 15px var(--black),
    215px 15px var(--black),
    220px 15px var(--black),
    225px 15px var(--brown1),
    230px 15px var(--brown1),
    235px 15px var(--brown1),
    240px 15px var(--brown2),
    245px 15px var(--brown2),
    250px 15px var(--brown2),
    255px 15px var(--brown2),
    260px 15px var(--brown2),
    265px 15px var(--brown2),
    270px 15px var(--brown1),
    275px 15px var(--brown1),
    280px 15px var(--brown1),
    285px 15px var(--black),
    290px 15px var(--black),
    295px 15px var(--black),
    300px 15px var(--black),
    305px 15px var(--black),
    310px 15px var(--black),
    315px 15px var(--outline),



    20px 5px var(--outline);

}
