* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --outline: #3a2119;
  --black: #000;
  --brown1: #a1735c;
  --brown2: #9a6951;
  --gray1: #424141;
  --gray2: #7d7b80;
  --gray3: #58545c;
}

body {
  /* min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center; */
}

.container {
  /* width: 365px;
  height: 415px; */
  width: 284px;
  height: 434px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aqua;
}

/* 71 Largura x 81 Altura */
.art {
  position: relative;
  top: 4px;
  height: 4px;
  width: 4px;
  box-shadow: 
  /* line 1 */
    168px 0px var(--outline),
    172px 0px var(--outline),
    176px 0px var(--outline),
    180px 0px var(--outline),
    184px 0px var(--outline),
    188px 0px var(--outline),
    192px 0px var(--outline),
    196px 0px var(--outline),
    200px 0px var(--outline),
    204px 0px var(--outline),
    208px 0px var(--outline),
    212px 0px var(--outline),
    216px 0px var(--outline),

  /* line 2 */
    160px 4px var(--outline),
    164px 4px var(--outline),
    168px 4px var(--black),
    172px 4px var(--black),
    176px 4px var(--black),
    180px 4px var(--black),
    184px 4px var(--brown1),
    188px 4px var(--brown2),
    192px 4px var(--brown2),
    196px 4px var(--brown2),
    200px 4px var(--brown2),
    204px 4px var(--brown2),
    208px 4px var(--brown2),
    212px 4px var(--brown2),
    216px 4px var(--brown1),
    220px 4px var(--outline),
    224px 4px var(--outline),
    228px 4px var(--outline),
    232px 4px var(--outline),
    236px 4px var(--outline),

    /* line 3 */
    156px 8px var(--outline),
    160px 8px var(--black),
    164px 8px var(--black),
    168px 8px var(--black),
    172px 8px var(--black),
    176px 8px var(--black),
    180px 8px var(--black),
    184px 8px var(--brown1),
    188px 8px var(--brown2),
    192px 8px var(--brown2),
    196px 8px var(--brown2),
    200px 8px var(--brown2),
    204px 8px var(--brown2),
    208px 8px var(--brown2),
    212px 8px var(--brown2),
    216px 8px var(--brown1),
    220px 8px var(--brown1),
    224px 8px var(--brown1),
    228px 8px var(--black),
    232px 8px var(--black),
    236px 8px var(--black),
    240px 8px var(--outline),
    244px 8px var(--outline),
    248px 8px var(--outline),

    /* line 4 */
    152px 12px var(--outline),
    156px 12px var(--black),
    160px 12px var(--black),
    164px 12px var(--black),
    168px 12px var(--black),
    172px 12px var(--black),
    176px 12px var(--black),
    180px 12px var(--brown1),
    184px 12px var(--brown1),
    188px 12px var(--brown1),
    192px 12px var(--brown2),
    196px 12px var(--brown2),
    200px 12px var(--brown2),
    204px 12px var(--brown2),
    208px 12px var(--brown2),
    212px 12px var(--brown2),
    216px 12px var(--brown1),
    220px 12px var(--brown1),
    224px 12px var(--brown1),
    228px 12px var(--black),
    232px 12px var(--black),
    236px 12px var(--black),
    240px 12px var(--black),
    244px 12px var(--black),
    248px 12px var(--black),
    252px 12px var(--outline),

    /* line 5 */
    148px 16px var(--outline),
    152px 16px var(--black),
    156px 16px var(--black),
    160px 16px var(--black),
    164px 16px var(--gray1),
    168px 16px var(--gray1),
    172px 16px var(--black),
    176px 16px var(--brown1),
    180px 16px var(--brown1),
    184px 16px var(--brown1),
    188px 16px var(--brown1),
    192px 16px var(--brown2),
    196px 16px var(--brown2),
    200px 16px var(--brown2),
    204px 16px var(--brown2),
    208px 16px var(--brown2),
    212px 16px var(--brown1),
    216px 16px var(--brown1),
    220px 16px var(--brown1),
    224px 16px var(--brown1),
    228px 16px var(--black),
    232px 16px var(--black),
    236px 16px var(--black),
    240px 16px var(--black),
    244px 16px var(--black),
    248px 16px var(--black),
    252px 16px var(--black),
    256px 16px var(--outline),

    /* line 6 */
    148px 20px var(--outline),
    152px 20px var(--black),
    156px 20px var(--black),
    160px 20px var(--gray1),
    164px 20px var(--black),
    168px 20px var(--gray1),
    172px 20px var(--brown1),
    176px 20px var(--brown1),
    180px 20px var(--brown1),
    184px 20px var(--brown1),
    188px 20px var(--brown1),
    192px 20px var(--brown1),
    196px 20px var(--brown2),
    200px 20px var(--brown2),
    204px 20px var(--brown2),
    208px 20px var(--brown2),
    212px 20px var(--brown1),
    216px 20px var(--brown1),
    220px 20px var(--brown1),
    224px 20px var(--brown1),
    228px 20px var(--black),
    232px 20px var(--black),
    236px 20px var(--gray1),
    240px 20px var(--gray1),
    244px 20px var(--black),
    248px 20px var(--black),
    252px 20px var(--black),
    256px 20px var(--outline),

    /* line 7 */
    152px 24px var(--outline),
    156px 24px var(--black),
    160px 24px var(--black),
    164px 24px var(--black),
    168px 24px var(--black),
    172px 24px var(--brown1),
    176px 24px var(--brown1),
    180px 24px var(--brown1),
    184px 24px var(--brown1),
    188px 24px var(--brown1),
    192px 24px var(--brown1),
    196px 24px var(--brown2),
    200px 24px var(--brown2),
    204px 24px var(--brown2),
    208px 24px var(--brown1),
    212px 24px var(--brown1),
    216px 24px var(--brown1),
    220px 24px var(--brown1),
    224px 24px var(--brown1),
    228px 24px var(--brown1),
    232px 24px var(--black),
    236px 24px var(--black),
    240px 24px var(--black),
    244px 24px var(--gray1),
    248px 24px var(--black),
    252px 24px var(--black),
    256px 24px var(--outline),

    /* line 8 */
    156px 28px var(--outline),
    160px 28px var(--black),
    164px 28px var(--black),
    168px 28px var(--black),
    172px 28px var(--brown1),
    176px 28px var(--brown1),
    180px 28px var(--brown1),
    184px 28px var(--gray2),
    188px 28px var(--gray2),
    192px 28px var(--brown1),
    196px 28px var(--brown2),
    200px 28px var(--brown2),
    204px 28px var(--brown2),
    208px 28px var(--brown1),
    212px 28px var(--brown1),
    216px 28px var(--brown1),
    220px 28px var(--brown1),
    224px 28px var(--brown1),
    228px 28px var(--brown1),
    232px 28px var(--black),
    236px 28px var(--black),
    240px 28px var(--black),
    244px 28px var(--black),
    248px 28px var(--black),
    252px 28px var(--outline),
    
    /* line 9 */
    160px 32px var(--outline),
    164px 32px var(--outline),
    168px 32px var(--outline),
    172px 32px var(--brown1),
    176px 32px var(--brown1),
    180px 32px var(--gray2),
    184px 32px var(--gray2),
    188px 32px var(--gray2),
    192px 32px var(--gray2),
    196px 32px var(--brown2),
    200px 32px var(--brown2),
    204px 32px var(--brown1),
    208px 32px var(--gray2),
    212px 32px var(--gray2),
    216px 32px var(--brown1),
    220px 32px var(--brown1),
    224px 32px var(--brown1),
    228px 32px var(--brown1),
    232px 32px var(--brown1),
    236px 32px var(--brown1),
    240px 32px var(--brown1),
    244px 32px var(--outline),
    248px 32px var(--outline),

    /* line 10 */
    168px 36px var(--outline),
    172px 36px var(--brown1),
    176px 36px var(--gray2),
    180px 36px var(--black),
    184px 36px var(--black),
    188px 36px var(--gray2),
    192px 36px var(--gray2),
    196px 36px var(--brown2),
    200px 36px var(--brown2),
    204px 36px var(--gray2),
    208px 36px var(--gray2),
    212px 36px var(--gray2),
    216px 36px var(--gray2),
    220px 36px var(--brown1),
    224px 36px var(--brown1),
    228px 36px var(--brown1),
    232px 36px var(--brown1),
    236px 36px var(--brown1),
    240px 36px var(--brown1),
    244px 36px var(--outline),

    /* line 11 */
    168px 40px var(--outline),
    172px 40px var(--brown1),
    176px 40px var(--gray2),
    180px 40px var(--black),
    184px 40px var(--black),
    188px 40px var(--gray2),
    192px 40px var(--gray3),
    196px 40px var(--gray3),
    200px 40px var(--gray3),
    204px 40px var(--gray2),
    208px 40px var(--gray2),
    212px 40px var(--black),
    216px 40px var(--black),
    220px 40px var(--gray2),
    224px 40px var(--brown1),
    228px 40px var(--brown1),
    232px 40px var(--brown1),
    236px 40px var(--brown1),
    240px 40px var(--brown1),
    244px 40px var(--outline),

    /* line 12 */
    168px 44px var(--outline),
    172px 44px var(--brown1),
    176px 44px var(--gray2),
    180px 44px var(--gray2),
    184px 44px var(--gray2),
    188px 44px var(--gray3),
    192px 44px var(--gray3),
    196px 44px var(--gray3),
    200px 44px var(--gray3),
    204px 44px var(--gray2),
    208px 44px var(--gray2),
    212px 44px var(--black),
    216px 44px var(--black),
    220px 44px var(--gray2),
    224px 44px var(--brown1),
    228px 44px var(--brown1),
    232px 44px var(--brown1),
    236px 44px var(--brown1),
    240px 44px var(--brown1),
    244px 44px var(--outline),

    /* line 13 */
    168px 48px var(--outline),
    172px 48px var(--brown1),
    176px 48px var(--gray2),
    180px 48px var(--gray2),
    184px 48px var(--gray2),
    188px 48px var(--gray3),
    192px 48px var(--gray3),
    196px 48px var(--gray3),
    200px 48px var(--gray3),
    204px 48px var(--gray3),
    208px 48px var(--gray2),
    212px 48px var(--gray2),
    216px 48px var(--gray2),
    220px 48px var(--gray2),
    224px 48px var(--brown1),
    228px 48px var(--brown1),
    232px 48px var(--brown1),
    236px 48px var(--brown1),
    240px 48px var(--brown1),
    244px 48px var(--outline),

    /* line 14 */
    168px 52px var(--outline),
    172px 52px var(--brown1),
    176px 52px var(--brown1),
    180px 52px var(--gray2),
    184px 52px var(--gray2),
    188px 52px var(--gray3),
    192px 52px var(--gray3),
    196px 52px var(--gray3),
    200px 52px var(--gray3),
    204px 52px var(--gray3),
    208px 52px var(--gray2),
    212px 52px var(--gray2),
    216px 52px var(--gray2),
    220px 52px var(--brown1),
    224px 52px var(--brown1),
    228px 52px var(--brown1),
    232px 52px var(--brown1),
    236px 52px var(--brown1),
    240px 52px var(--brown1),
    244px 52px var(--brown1),
    248px 52px var(--outline),

    /* line 15 */
    168px 56px var(--outline),
    172px 56px var(--brown1),
    176px 56px var(--brown1),
    180px 56px var(--gray2),
    184px 56px var(--gray3),
    188px 56px var(--gray3),
    192px 56px var(--gray3),
    196px 56px var(--gray3),
    200px 56px var(--gray3),
    204px 56px var(--gray3),
    208px 56px var(--gray2),
    212px 56px var(--gray2),
    216px 56px var(--gray2),
    220px 56px var(--brown1),
    224px 56px var(--brown1),
    228px 56px var(--brown1),
    232px 56px var(--brown1),
    236px 56px var(--brown1),
    240px 56px var(--brown1),
    244px 56px var(--brown1),
    248px 56px var(--outline),

    /* line 16 */
    172px 60px var(--outline),
    176px 60px var(--brown1),
    180px 60px var(--gray2),
    184px 60px var(--gray3),
    188px 60px var(--gray2),
    192px 60px var(--gray3),
    196px 60px var(--gray3),
    200px 60px var(--gray3),
    204px 60px var(--gray3),
    208px 60px var(--gray3),
    212px 60px var(--gray2),
    216px 60px var(--brown1),
    220px 60px var(--brown1),
    224px 60px var(--brown1),
    228px 60px var(--brown1),
    232px 60px var(--brown1),
    236px 60px var(--brown1),
    240px 60px var(--brown1),
    244px 60px var(--brown1),
    248px 60px var(--outline),


    20px 5px var(--outline);

}
