* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --outline: #3a2119;
  --black: #000;
  --brown1: #a1735c;
  --brown2: #9a6951;
  --brown3: #bd917b;
  --brown4: #c79c86;
  --brown5: #cea48e;
  --brown6: #d1a791;
  --brown7: #d3a993;
  --brown8: #ca9e88;
  --brown9: #c09b88;
  --brown10: #a77c66;
  --brown11: #c2a393;
  --brown12: #d7ab95;
  --brown13: #b48b78;
  --brown14: #c19e8b;
  --brown15: #c2a393;
  --brown16: #c1957d;
  --brown17: #c6977f;
  --brown18: #c4a99c;
  --brown19: #c19e8b;
  --brown20: #cfac9a;
  --gray1: #424141;
  --gray2: #7d7b80;
  --gray3: #58545c;
}

body {
  /* min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center; */
}

.container {
  /* width: 365px;
  height: 415px; */
  width: 292px;
  height: 434px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aqua;
}

/* 71 Largura x 81 Altura */
.art {
  position: relative;
  top: 4px;
  height: 4px;
  width: 4px;
  box-shadow: 
  /* line 1 */
    168px 0px var(--outline),
    172px 0px var(--outline),
    176px 0px var(--outline),
    180px 0px var(--outline),
    184px 0px var(--outline),
    188px 0px var(--outline),
    192px 0px var(--outline),
    196px 0px var(--outline),
    200px 0px var(--outline),
    204px 0px var(--outline),
    208px 0px var(--outline),
    212px 0px var(--outline),
    216px 0px var(--outline),

  /* line 2 */
    160px 4px var(--outline),
    164px 4px var(--outline),
    168px 4px var(--black),
    172px 4px var(--black),
    176px 4px var(--black),
    180px 4px var(--black),
    184px 4px var(--brown1),
    188px 4px var(--brown2),
    192px 4px var(--brown2),
    196px 4px var(--brown2),
    200px 4px var(--brown2),
    204px 4px var(--brown2),
    208px 4px var(--brown2),
    212px 4px var(--brown2),
    216px 4px var(--brown1),
    220px 4px var(--outline),
    224px 4px var(--outline),
    228px 4px var(--outline),
    232px 4px var(--outline),
    236px 4px var(--outline),

    /* line 3 */
    156px 8px var(--outline),
    160px 8px var(--black),
    164px 8px var(--black),
    168px 8px var(--black),
    172px 8px var(--black),
    176px 8px var(--black),
    180px 8px var(--black),
    184px 8px var(--brown1),
    188px 8px var(--brown2),
    192px 8px var(--brown2),
    196px 8px var(--brown2),
    200px 8px var(--brown2),
    204px 8px var(--brown2),
    208px 8px var(--brown2),
    212px 8px var(--brown2),
    216px 8px var(--brown1),
    220px 8px var(--brown1),
    224px 8px var(--brown1),
    228px 8px var(--black),
    232px 8px var(--black),
    236px 8px var(--black),
    240px 8px var(--outline),
    244px 8px var(--outline),
    248px 8px var(--outline),

    /* line 4 */
    152px 12px var(--outline),
    156px 12px var(--black),
    160px 12px var(--black),
    164px 12px var(--black),
    168px 12px var(--black),
    172px 12px var(--black),
    176px 12px var(--black),
    180px 12px var(--brown1),
    184px 12px var(--brown1),
    188px 12px var(--brown1),
    192px 12px var(--brown2),
    196px 12px var(--brown2),
    200px 12px var(--brown2),
    204px 12px var(--brown2),
    208px 12px var(--brown2),
    212px 12px var(--brown2),
    216px 12px var(--brown1),
    220px 12px var(--brown1),
    224px 12px var(--brown1),
    228px 12px var(--black),
    232px 12px var(--black),
    236px 12px var(--black),
    240px 12px var(--black),
    244px 12px var(--black),
    248px 12px var(--black),
    252px 12px var(--outline),

    /* line 5 */
    148px 16px var(--outline),
    152px 16px var(--black),
    156px 16px var(--black),
    160px 16px var(--black),
    164px 16px var(--gray1),
    168px 16px var(--gray1),
    172px 16px var(--black),
    176px 16px var(--brown1),
    180px 16px var(--brown1),
    184px 16px var(--brown1),
    188px 16px var(--brown1),
    192px 16px var(--brown2),
    196px 16px var(--brown2),
    200px 16px var(--brown2),
    204px 16px var(--brown2),
    208px 16px var(--brown2),
    212px 16px var(--brown1),
    216px 16px var(--brown1),
    220px 16px var(--brown1),
    224px 16px var(--brown1),
    228px 16px var(--black),
    232px 16px var(--black),
    236px 16px var(--black),
    240px 16px var(--black),
    244px 16px var(--black),
    248px 16px var(--black),
    252px 16px var(--black),
    256px 16px var(--outline),

    /* line 6 */
    148px 20px var(--outline),
    152px 20px var(--black),
    156px 20px var(--black),
    160px 20px var(--gray1),
    164px 20px var(--black),
    168px 20px var(--gray1),
    172px 20px var(--brown1),
    176px 20px var(--brown1),
    180px 20px var(--brown1),
    184px 20px var(--brown1),
    188px 20px var(--brown1),
    192px 20px var(--brown1),
    196px 20px var(--brown2),
    200px 20px var(--brown2),
    204px 20px var(--brown2),
    208px 20px var(--brown2),
    212px 20px var(--brown1),
    216px 20px var(--brown1),
    220px 20px var(--brown1),
    224px 20px var(--brown1),
    228px 20px var(--black),
    232px 20px var(--black),
    236px 20px var(--gray1),
    240px 20px var(--gray1),
    244px 20px var(--black),
    248px 20px var(--black),
    252px 20px var(--black),
    256px 20px var(--outline),

    /* line 7 */
    152px 24px var(--outline),
    156px 24px var(--black),
    160px 24px var(--black),
    164px 24px var(--black),
    168px 24px var(--black),
    172px 24px var(--brown1),
    176px 24px var(--brown1),
    180px 24px var(--brown1),
    184px 24px var(--brown1),
    188px 24px var(--brown1),
    192px 24px var(--brown1),
    196px 24px var(--brown2),
    200px 24px var(--brown2),
    204px 24px var(--brown2),
    208px 24px var(--brown1),
    212px 24px var(--brown1),
    216px 24px var(--brown1),
    220px 24px var(--brown1),
    224px 24px var(--brown1),
    228px 24px var(--brown1),
    232px 24px var(--black),
    236px 24px var(--black),
    240px 24px var(--black),
    244px 24px var(--gray1),
    248px 24px var(--black),
    252px 24px var(--black),
    256px 24px var(--outline),

    /* line 8 */
    156px 28px var(--outline),
    160px 28px var(--black),
    164px 28px var(--black),
    168px 28px var(--black),
    172px 28px var(--brown1),
    176px 28px var(--brown1),
    180px 28px var(--brown1),
    184px 28px var(--gray2),
    188px 28px var(--gray2),
    192px 28px var(--brown1),
    196px 28px var(--brown2),
    200px 28px var(--brown2),
    204px 28px var(--brown2),
    208px 28px var(--brown1),
    212px 28px var(--brown1),
    216px 28px var(--brown1),
    220px 28px var(--brown1),
    224px 28px var(--brown1),
    228px 28px var(--brown1),
    232px 28px var(--black),
    236px 28px var(--black),
    240px 28px var(--black),
    244px 28px var(--black),
    248px 28px var(--black),
    252px 28px var(--outline),
    
    /* line 9 */
    160px 32px var(--outline),
    164px 32px var(--outline),
    168px 32px var(--outline),
    172px 32px var(--brown1),
    176px 32px var(--brown1),
    180px 32px var(--gray2),
    184px 32px var(--gray2),
    188px 32px var(--gray2),
    192px 32px var(--gray2),
    196px 32px var(--brown2),
    200px 32px var(--brown2),
    204px 32px var(--brown1),
    208px 32px var(--gray2),
    212px 32px var(--gray2),
    216px 32px var(--brown1),
    220px 32px var(--brown1),
    224px 32px var(--brown1),
    228px 32px var(--brown1),
    232px 32px var(--brown1),
    236px 32px var(--brown1),
    240px 32px var(--brown1),
    244px 32px var(--outline),
    248px 32px var(--outline),

    /* line 10 */
    168px 36px var(--outline),
    172px 36px var(--brown1),
    176px 36px var(--gray2),
    180px 36px var(--black),
    184px 36px var(--black),
    188px 36px var(--gray2),
    192px 36px var(--gray2),
    196px 36px var(--brown2),
    200px 36px var(--brown2),
    204px 36px var(--gray2),
    208px 36px var(--gray2),
    212px 36px var(--gray2),
    216px 36px var(--gray2),
    220px 36px var(--brown1),
    224px 36px var(--brown1),
    228px 36px var(--brown1),
    232px 36px var(--brown1),
    236px 36px var(--brown1),
    240px 36px var(--brown1),
    244px 36px var(--outline),

    /* line 11 */
    168px 40px var(--outline),
    172px 40px var(--brown1),
    176px 40px var(--gray2),
    180px 40px var(--black),
    184px 40px var(--black),
    188px 40px var(--gray2),
    192px 40px var(--gray3),
    196px 40px var(--gray3),
    200px 40px var(--gray3),
    204px 40px var(--gray2),
    208px 40px var(--gray2),
    212px 40px var(--black),
    216px 40px var(--black),
    220px 40px var(--gray2),
    224px 40px var(--brown1),
    228px 40px var(--brown1),
    232px 40px var(--brown1),
    236px 40px var(--brown1),
    240px 40px var(--brown1),
    244px 40px var(--outline),

    /* line 12 */
    168px 44px var(--outline),
    172px 44px var(--brown1),
    176px 44px var(--gray2),
    180px 44px var(--gray2),
    184px 44px var(--gray2),
    188px 44px var(--gray3),
    192px 44px var(--gray3),
    196px 44px var(--gray3),
    200px 44px var(--gray3),
    204px 44px var(--gray2),
    208px 44px var(--gray2),
    212px 44px var(--black),
    216px 44px var(--black),
    220px 44px var(--gray2),
    224px 44px var(--brown1),
    228px 44px var(--brown1),
    232px 44px var(--brown1),
    236px 44px var(--brown1),
    240px 44px var(--brown1),
    244px 44px var(--outline),

    /* line 13 */
    168px 48px var(--outline),
    172px 48px var(--brown1),
    176px 48px var(--gray2),
    180px 48px var(--gray2),
    184px 48px var(--gray2),
    188px 48px var(--gray3),
    192px 48px var(--gray3),
    196px 48px var(--gray3),
    200px 48px var(--gray3),
    204px 48px var(--gray3),
    208px 48px var(--gray2),
    212px 48px var(--gray2),
    216px 48px var(--gray2),
    220px 48px var(--gray2),
    224px 48px var(--brown1),
    228px 48px var(--brown1),
    232px 48px var(--brown1),
    236px 48px var(--brown1),
    240px 48px var(--brown1),
    244px 48px var(--outline),

    /* line 14 */
    168px 52px var(--outline),
    172px 52px var(--brown1),
    176px 52px var(--brown1),
    180px 52px var(--gray2),
    184px 52px var(--gray2),
    188px 52px var(--gray3),
    192px 52px var(--gray3),
    196px 52px var(--gray3),
    200px 52px var(--gray3),
    204px 52px var(--gray3),
    208px 52px var(--gray2),
    212px 52px var(--gray2),
    216px 52px var(--gray2),
    220px 52px var(--brown1),
    224px 52px var(--brown1),
    228px 52px var(--brown1),
    232px 52px var(--brown1),
    236px 52px var(--brown1),
    240px 52px var(--brown1),
    244px 52px var(--brown1),
    248px 52px var(--outline),

    /* line 15 */
    168px 56px var(--outline),
    172px 56px var(--brown1),
    176px 56px var(--brown1),
    180px 56px var(--gray2),
    184px 56px var(--gray3),
    188px 56px var(--gray3),
    192px 56px var(--gray3),
    196px 56px var(--gray3),
    200px 56px var(--gray3),
    204px 56px var(--gray3),
    208px 56px var(--gray2),
    212px 56px var(--gray2),
    216px 56px var(--gray2),
    220px 56px var(--brown1),
    224px 56px var(--brown1),
    228px 56px var(--brown1),
    232px 56px var(--brown1),
    236px 56px var(--brown1),
    240px 56px var(--brown1),
    244px 56px var(--brown1),
    248px 56px var(--outline),

    /* line 16 */
    172px 60px var(--outline),
    176px 60px var(--brown1),
    180px 60px var(--gray2),
    184px 60px var(--gray3),
    188px 60px var(--gray2),
    192px 60px var(--gray3),
    196px 60px var(--gray3),
    200px 60px var(--gray3),
    204px 60px var(--gray3),
    208px 60px var(--gray3),
    212px 60px var(--gray2),
    216px 60px var(--brown1),
    220px 60px var(--brown1),
    224px 60px var(--brown1),
    228px 60px var(--brown1),
    232px 60px var(--brown1),
    236px 60px var(--brown1),
    240px 60px var(--brown1),
    244px 60px var(--brown1),
    248px 60px var(--outline),

    /* line 17 */
    172px 64px var(--outline),
    176px 64px var(--brown1),
    180px 64px var(--gray3),
    184px 64px var(--gray2),
    188px 64px var(--gray2),
    192px 64px var(--gray3),
    196px 64px var(--gray2),
    200px 64px var(--gray3),
    204px 64px var(--gray3),
    208px 64px var(--gray3),
    212px 64px var(--brown1),
    216px 64px var(--brown1),
    220px 64px var(--brown1),
    224px 64px var(--brown1),
    228px 64px var(--brown1),
    232px 64px var(--brown1),
    236px 64px var(--brown1),
    240px 64px var(--brown1),
    244px 64px var(--brown1),
    248px 64px var(--outline),

    /* line 18 */
    172px 68px var(--outline),
    176px 68px var(--brown1),
    180px 68px var(--gray2),
    184px 68px var(--gray2),
    188px 68px var(--gray3),
    192px 68px var(--gray3),
    196px 68px var(--gray2),
    200px 68px var(--gray2),
    204px 68px var(--gray3),
    208px 68px var(--gray3),
    212px 68px var(--brown1),
    216px 68px var(--brown1),
    220px 68px var(--brown1),
    224px 68px var(--brown1),
    228px 68px var(--brown1),
    232px 68px var(--brown1),
    236px 68px var(--brown1),
    240px 68px var(--brown3),
    244px 68px var(--brown1),
    248px 68px var(--brown1),
    252px 68px var(--outline),

    /* line 19 */
    172px 72px var(--outline),
    176px 72px var(--brown1),
    180px 72px var(--gray2),
    184px 72px var(--black),
    188px 72px var(--black),
    192px 72px var(--black),
    196px 72px var(--gray2),
    200px 72px var(--gray2),
    204px 72px var(--gray2),
    208px 72px var(--brown1),
    212px 72px var(--brown1),
    216px 72px var(--brown1),
    220px 72px var(--brown1),
    224px 72px var(--brown1),
    228px 72px var(--brown1),
    232px 72px var(--brown1),
    236px 72px var(--brown3),
    240px 72px var(--brown3),
    244px 72px var(--brown3),
    248px 72px var(--brown1),
    252px 72px var(--outline),

    /* line 20 */
    172px 76px var(--outline),
    176px 76px var(--brown1),
    180px 76px var(--gray2),
    184px 76px var(--black),
    188px 76px var(--black),
    192px 76px var(--black),
    196px 76px var(--gray2),
    200px 76px var(--gray2),
    204px 76px var(--gray2),
    208px 76px var(--brown1),
    212px 76px var(--brown1),
    216px 76px var(--brown1),
    220px 76px var(--brown1),
    224px 76px var(--brown1),
    228px 76px var(--brown1),
    232px 76px var(--brown3),
    236px 76px var(--brown3),
    240px 76px var(--brown3),
    244px 76px var(--brown3),
    248px 76px var(--brown1),
    252px 76px var(--brown1),
    256px 76px var(--outline),

    /* line 21 */
    172px 80px var(--outline),
    176px 80px var(--brown1),
    180px 80px var(--gray2),
    184px 80px var(--black),
    188px 80px var(--black),
    192px 80px var(--black),
    196px 80px var(--gray2),
    200px 80px var(--gray2),
    204px 80px var(--brown1),
    208px 80px var(--brown1),
    212px 80px var(--brown1),
    216px 80px var(--brown1),
    220px 80px var(--brown1),
    224px 80px var(--brown1),
    228px 80px var(--brown1),
    232px 80px var(--brown3),
    236px 80px var(--brown3),
    240px 80px var(--brown3),
    244px 80px var(--brown3),
    248px 80px var(--brown1),
    252px 80px var(--brown1),
    256px 80px var(--brown1),
    260px 80px var(--outline),

    /* line 22 */
    172px 84px var(--outline),
    176px 84px var(--brown1),
    180px 84px var(--gray3),
    184px 84px var(--gray2),
    188px 84px var(--gray2),
    192px 84px var(--gray2),
    196px 84px var(--gray3),
    200px 84px var(--brown1),
    204px 84px var(--brown1),
    208px 84px var(--brown3),
    212px 84px var(--brown3),
    216px 84px var(--brown1),
    220px 84px var(--brown1),
    224px 84px var(--brown1),
    228px 84px var(--brown3),
    232px 84px var(--brown3),
    236px 84px var(--brown3),
    240px 84px var(--brown3),
    244px 84px var(--brown3),
    248px 84px var(--brown3),
    252px 84px var(--brown1),
    256px 84px var(--brown1),
    260px 84px var(--outline),

    /* line 23 */
    172px 88px var(--outline),
    176px 88px var(--brown1),
    180px 88px var(--brown1),
    184px 88px var(--brown3),
    188px 88px var(--brown3),
    192px 88px var(--brown3),
    196px 88px var(--brown3),
    200px 88px var(--brown3),
    204px 88px var(--brown3),
    208px 88px var(--brown3),
    212px 88px var(--brown3),
    216px 88px var(--brown3),
    220px 88px var(--brown1),
    224px 88px var(--brown1),
    228px 88px var(--brown3),
    232px 88px var(--brown3),
    236px 88px var(--brown3),
    240px 88px var(--brown3),
    244px 88px var(--brown3),
    248px 88px var(--brown3),
    252px 88px var(--brown3),
    256px 88px var(--brown1),
    260px 88px var(--brown1),
    264px 88px var(--outline),

    /* line 24 */
    172px 92px var(--outline),
    176px 92px var(--brown1),
    180px 92px var(--brown3),
    184px 92px var(--brown3),
    188px 92px var(--brown3),
    192px 92px var(--brown3),
    196px 92px var(--brown3),
    200px 92px var(--brown3),
    204px 92px var(--brown3),
    208px 92px var(--brown3),
    212px 92px var(--brown3),
    216px 92px var(--brown3),
    220px 92px var(--brown1),
    224px 92px var(--brown3),
    228px 92px var(--brown3),
    232px 92px var(--brown3),
    236px 92px var(--brown3),
    240px 92px var(--brown3),
    244px 92px var(--brown3),
    248px 92px var(--brown3),
    252px 92px var(--brown3),
    256px 92px var(--brown1),
    260px 92px var(--brown1),
    264px 92px var(--outline),

    /* line 25 */
    172px 96px var(--outline),
    176px 96px var(--brown3),
    180px 96px var(--brown3),
    184px 96px var(--brown3),
    188px 96px var(--brown3),
    192px 96px var(--brown3),
    196px 96px var(--brown3),
    200px 96px var(--brown3),
    204px 96px var(--brown3),
    208px 96px var(--brown3),
    212px 96px var(--brown3),
    216px 96px var(--brown3),
    220px 96px var(--brown3),
    224px 96px var(--brown3),
    228px 96px var(--brown3),
    232px 96px var(--brown3),
    236px 96px var(--brown3),
    240px 96px var(--brown3),
    244px 96px var(--brown3),
    248px 96px var(--brown3),
    252px 96px var(--brown3),
    256px 96px var(--brown3),
    260px 96px var(--brown1),
    264px 96px var(--brown1),
    268px 96px var(--outline),

    /* line 26 */
    168px 100px var(--outline),
    172px 100px var(--brown3),
    176px 100px var(--brown3),
    180px 100px var(--brown3),
    184px 100px var(--brown3),
    188px 100px var(--brown3),
    192px 100px var(--brown3),
    196px 100px var(--brown3),
    200px 100px var(--brown3),
    204px 100px var(--brown3),
    208px 100px var(--brown3),
    212px 100px var(--brown3),
    216px 100px var(--brown3),
    220px 100px var(--brown3),
    224px 100px var(--brown3),
    228px 100px var(--brown3),
    232px 100px var(--brown3),
    236px 100px var(--brown3),
    240px 100px var(--brown3),
    244px 100px var(--brown3),
    248px 100px var(--brown4),
    252px 100px var(--brown3),
    256px 100px var(--brown3),
    260px 100px var(--brown1),
    264px 100px var(--brown1),
    268px 100px var(--outline),

    /* line 27 */
    164px 104px var(--outline),
    168px 104px var(--brown4),
    172px 104px var(--brown3),
    176px 104px var(--brown3),
    180px 104px var(--brown3),
    184px 104px var(--brown3),
    188px 104px var(--brown3),
    192px 104px var(--brown3),
    196px 104px var(--brown3),
    200px 104px var(--brown3),
    204px 104px var(--brown3),
    208px 104px var(--brown3),
    212px 104px var(--brown3),
    216px 104px var(--brown3),
    220px 104px var(--brown3),
    224px 104px var(--brown3),
    228px 104px var(--brown3),
    232px 104px var(--brown3),
    236px 104px var(--brown3),
    240px 104px var(--brown3),
    244px 104px var(--brown4),
    248px 104px var(--brown4),
    252px 104px var(--brown4),
    256px 104px var(--brown3),
    260px 104px var(--brown1),
    264px 104px var(--brown1),
    268px 104px var(--brown1),
    272px 104px var(--outline),

    /* line 28 */
    164px 108px var(--outline),
    168px 108px var(--brown4),
    172px 108px var(--brown4),
    176px 108px var(--brown4),
    180px 108px var(--brown3),
    184px 108px var(--brown3),
    188px 108px var(--brown3),
    192px 108px var(--brown3),
    196px 108px var(--brown3),
    200px 108px var(--brown3),
    204px 108px var(--brown3),
    208px 108px var(--brown4),
    212px 108px var(--brown4),
    216px 108px var(--brown3),
    220px 108px var(--brown4),
    224px 108px var(--brown4),
    228px 108px var(--brown3),
    232px 108px var(--brown3),
    236px 108px var(--brown3),
    240px 108px var(--brown4),
    244px 108px var(--brown4),
    248px 108px var(--brown4),
    252px 108px var(--brown4),
    256px 108px var(--brown3),
    260px 108px var(--brown1),
    264px 108px var(--brown1),
    268px 108px var(--brown1),
    272px 108px var(--outline),
    
    /* line 29 */
    164px 112px var(--outline),
    168px 112px var(--brown4),
    172px 112px var(--brown4),
    176px 112px var(--brown4),
    180px 112px var(--brown3),
    184px 112px var(--brown3),
    188px 112px var(--brown3),
    192px 112px var(--brown3),
    196px 112px var(--brown3),
    200px 112px var(--brown3),
    204px 112px var(--brown4),
    208px 112px var(--brown4),
    212px 112px var(--brown4),
    216px 112px var(--brown4),
    220px 112px var(--brown4),
    224px 112px var(--brown4),
    228px 112px var(--brown4),
    232px 112px var(--brown4),
    236px 112px var(--brown4),
    240px 112px var(--brown4),
    244px 112px var(--brown4),
    248px 112px var(--brown4),
    252px 112px var(--brown5),
    256px 112px var(--brown3),
    260px 112px var(--brown1),
    264px 112px var(--brown1),
    268px 112px var(--brown1),
    272px 112px var(--outline),

    /* line 30 */
    164px 116px var(--outline),
    168px 116px var(--brown4),
    172px 116px var(--brown4),
    176px 116px var(--brown4),
    180px 116px var(--brown4),
    184px 116px var(--brown3),
    188px 116px var(--brown3),
    192px 116px var(--brown3),
    196px 116px var(--brown3),
    200px 116px var(--brown4),
    204px 116px var(--brown4),
    208px 116px var(--brown4),
    212px 116px var(--brown4),
    216px 116px var(--brown4),
    220px 116px var(--brown4),
    224px 116px var(--brown4),
    228px 116px var(--brown4),
    232px 116px var(--brown4),
    236px 116px var(--brown4),
    240px 116px var(--brown4),
    244px 116px var(--brown4),
    248px 116px var(--brown4),
    252px 116px var(--brown5),
    256px 116px var(--brown3),
    260px 116px var(--brown3),
    264px 116px var(--brown1),
    268px 116px var(--brown1),
    272px 116px var(--outline),

    /* line 31 */
    160px 120px var(--outline),
    164px 120px var(--brown4),
    168px 120px var(--brown4),
    172px 120px var(--brown5),
    176px 120px var(--brown4),
    180px 120px var(--brown4),
    184px 120px var(--brown4),
    188px 120px var(--brown3),
    192px 120px var(--brown3),
    196px 120px var(--brown4),
    200px 120px var(--brown4),
    204px 120px var(--brown4),
    208px 120px var(--brown4),
    212px 120px var(--brown4),
    216px 120px var(--brown4),
    220px 120px var(--brown4),
    224px 120px var(--brown4),
    228px 120px var(--brown4),
    232px 120px var(--brown4),
    236px 120px var(--brown4),
    240px 120px var(--brown4),
    244px 120px var(--brown5),
    248px 120px var(--brown5),
    252px 120px var(--brown5),
    256px 120px var(--brown3),
    260px 120px var(--brown3),
    264px 120px var(--brown1),
    268px 120px var(--brown1),
    272px 120px var(--outline),

    /* line 32 */
    160px 124px var(--outline),
    164px 124px var(--brown5),
    168px 124px var(--brown4),
    172px 124px var(--brown5),
    176px 124px var(--brown5),
    180px 124px var(--brown4),
    184px 124px var(--brown4),
    188px 124px var(--brown4),
    192px 124px var(--brown4),
    196px 124px var(--brown4),
    200px 124px var(--brown4),
    204px 124px var(--brown4),
    208px 124px var(--brown4),
    212px 124px var(--brown4),
    216px 124px var(--brown4),
    220px 124px var(--brown4),
    224px 124px var(--brown4),
    228px 124px var(--brown4),
    232px 124px var(--brown4),
    236px 124px var(--brown5),
    240px 124px var(--brown5),
    244px 124px var(--brown5),
    248px 124px var(--brown5),
    252px 124px var(--brown5),
    256px 124px var(--brown3),
    260px 124px var(--brown3),
    264px 124px var(--brown1),
    268px 124px var(--brown1),
    272px 124px var(--brown1),
    276px 124px var(--outline),

    /* line 33 */
    160px 128px var(--outline),
    164px 128px var(--brown5),
    168px 128px var(--brown5),
    172px 128px var(--brown5),
    176px 128px var(--brown5),
    180px 128px var(--brown5),
    184px 128px var(--brown4),
    188px 128px var(--brown4),
    192px 128px var(--brown4),
    196px 128px var(--brown4),
    200px 128px var(--brown4),
    204px 128px var(--brown4),
    208px 128px var(--brown4),
    212px 128px var(--brown4),
    216px 128px var(--brown4),
    220px 128px var(--brown4),
    224px 128px var(--brown4),
    228px 128px var(--brown5),
    232px 128px var(--brown5),
    236px 128px var(--brown5),
    240px 128px var(--brown5),
    244px 128px var(--brown5),
    248px 128px var(--brown5),
    252px 128px var(--brown3),
    256px 128px var(--brown3),
    260px 128px var(--brown3),
    264px 128px var(--brown3),
    268px 128px var(--brown1),
    272px 128px var(--brown1),
    276px 128px var(--outline),

    /* line 34 */
    160px 132px var(--outline),
    164px 132px var(--brown5),
    168px 132px var(--brown5),
    172px 132px var(--brown5),
    176px 132px var(--brown5),
    180px 132px var(--brown5),
    184px 132px var(--brown4),
    188px 132px var(--brown4),
    192px 132px var(--brown4),
    196px 132px var(--brown4),
    200px 132px var(--brown4),
    204px 132px var(--brown4),
    208px 132px var(--brown4),
    212px 132px var(--brown4),
    216px 132px var(--brown4),
    220px 132px var(--brown5),
    224px 132px var(--brown5),
    228px 132px var(--brown5),
    232px 132px var(--brown5),
    236px 132px var(--brown5),
    240px 132px var(--brown5),
    244px 132px var(--brown5),
    248px 132px var(--brown5),
    252px 132px var(--brown3),
    256px 132px var(--brown3),
    260px 132px var(--brown3),
    264px 132px var(--brown3),
    268px 132px var(--brown1),
    272px 132px var(--brown1),
    276px 132px var(--outline),

    /* line 35 */
    160px 136px var(--outline),
    164px 136px var(--brown5),
    168px 136px var(--brown5),
    172px 136px var(--brown5),
    176px 136px var(--brown5),
    180px 136px var(--brown5),
    184px 136px var(--brown5),
    188px 136px var(--brown4),
    192px 136px var(--brown4),
    196px 136px var(--brown4),
    200px 136px var(--brown4),
    204px 136px var(--brown4),
    208px 136px var(--brown4),
    212px 136px var(--brown4),
    216px 136px var(--brown5),
    220px 136px var(--brown5),
    224px 136px var(--brown5),
    228px 136px var(--brown5),
    232px 136px var(--brown5),
    236px 136px var(--brown5),
    240px 136px var(--brown5),
    244px 136px var(--brown5),
    248px 136px var(--brown6),
    252px 136px var(--brown3),
    256px 136px var(--brown3),
    260px 136px var(--brown3),
    264px 136px var(--brown3),
    268px 136px var(--brown1),
    272px 136px var(--brown1),
    276px 136px var(--outline),

    /* line 36 */
    156px 140px var(--outline),
    160px 140px var(--brown7),
    164px 140px var(--brown7),
    168px 140px var(--brown5),
    172px 140px var(--brown5),
    176px 140px var(--brown5),
    180px 140px var(--brown5),
    184px 140px var(--brown5),
    188px 140px var(--brown4),
    192px 140px var(--brown4),
    196px 140px var(--brown4),
    200px 140px var(--brown4),
    204px 140px var(--brown4),
    208px 140px var(--brown4),
    212px 140px var(--brown5),
    216px 140px var(--brown5),
    220px 140px var(--brown5),
    224px 140px var(--brown5),
    228px 140px var(--brown5),
    232px 140px var(--brown5),
    236px 140px var(--brown5),
    240px 140px var(--brown5),
    244px 140px var(--brown5),
    248px 140px var(--brown6),
    252px 140px var(--brown3),
    256px 140px var(--brown3),
    260px 140px var(--brown3),
    264px 140px var(--brown3),
    268px 140px var(--brown1),
    272px 140px var(--brown1),
    276px 140px var(--brown1),
    280px 140px var(--outline),

    /* line 37 */
    156px 144px var(--outline),
    160px 144px var(--brown7),
    164px 144px var(--brown7),
    168px 144px var(--brown7),
    172px 144px var(--brown5),
    176px 144px var(--brown5),
    180px 144px var(--brown5),
    184px 144px var(--brown5),
    188px 144px var(--brown5),
    192px 144px var(--brown4),
    196px 144px var(--brown4),
    200px 144px var(--brown4),
    204px 144px var(--brown4),
    208px 144px var(--brown5),
    212px 144px var(--brown5),
    216px 144px var(--brown5),
    220px 144px var(--brown5),
    224px 144px var(--brown5),
    228px 144px var(--brown5),
    232px 144px var(--brown5),
    236px 144px var(--brown5),
    240px 144px var(--brown5),
    244px 144px var(--brown6),
    248px 144px var(--brown6),
    252px 144px var(--brown3),
    256px 144px var(--brown3),
    260px 144px var(--brown3),
    264px 144px var(--brown3),
    268px 144px var(--brown1),
    272px 144px var(--brown1),
    276px 144px var(--brown1),
    280px 144px var(--outline),

    /* line 38 */
    156px 148px var(--outline),
    160px 148px var(--brown7),
    164px 148px var(--brown7),
    168px 148px var(--brown7),
    172px 148px var(--brown7),
    176px 148px var(--brown5),
    180px 148px var(--brown5),
    184px 148px var(--brown5),
    188px 148px var(--brown5),
    192px 148px var(--brown4),
    196px 148px var(--brown4),
    200px 148px var(--brown5),
    204px 148px var(--brown5),
    208px 148px var(--brown5),
    212px 148px var(--brown5),
    216px 148px var(--brown5),
    220px 148px var(--brown5),
    224px 148px var(--brown5),
    228px 148px var(--brown5),
    232px 148px var(--brown5),
    236px 148px var(--brown5),
    240px 148px var(--brown6),
    244px 148px var(--brown6),
    248px 148px var(--brown6),
    252px 148px var(--brown6),
    256px 148px var(--brown3),
    260px 148px var(--brown3),
    264px 148px var(--brown3),
    268px 148px var(--brown1),
    272px 148px var(--brown1),
    276px 148px var(--brown1),
    280px 148px var(--outline),

    /* line 39 */
    156px 152px var(--outline),
    160px 152px var(--brown7),
    164px 152px var(--brown7),
    168px 152px var(--brown7),
    172px 152px var(--brown7),
    176px 152px var(--brown7),
    180px 152px var(--brown5),
    184px 152px var(--brown5),
    188px 152px var(--brown5),
    192px 152px var(--brown5),
    196px 152px var(--brown5),
    200px 152px var(--brown5),
    204px 152px var(--brown5),
    208px 152px var(--brown5),
    212px 152px var(--brown5),
    216px 152px var(--brown5),
    220px 152px var(--brown5),
    224px 152px var(--brown5),
    228px 152px var(--brown5),
    232px 152px var(--brown5),
    236px 152px var(--brown6),
    240px 152px var(--brown6),
    244px 152px var(--brown6),
    248px 152px var(--brown6),
    252px 152px var(--brown6),
    256px 152px var(--brown3),
    260px 152px var(--brown3),
    264px 152px var(--brown3),
    268px 152px var(--brown1),
    272px 152px var(--brown1),
    276px 152px var(--brown1),
    280px 152px var(--outline),

    /* line 40 */
    156px 156px var(--outline),
    160px 156px var(--brown7),
    164px 156px var(--brown7),
    168px 156px var(--brown7),
    172px 156px var(--brown7),
    176px 156px var(--brown7),
    180px 156px var(--brown7),
    184px 156px var(--brown5),
    188px 156px var(--brown5),
    192px 156px var(--brown5),
    196px 156px var(--brown5),
    200px 156px var(--brown5),
    204px 156px var(--brown5),
    208px 156px var(--brown5),
    212px 156px var(--brown5),
    216px 156px var(--brown5),
    220px 156px var(--brown5),
    224px 156px var(--brown5),
    228px 156px var(--brown5),
    232px 156px var(--brown6),
    236px 156px var(--brown6),
    240px 156px var(--brown6),
    244px 156px var(--brown6),
    248px 156px var(--brown6),
    252px 156px var(--brown6),
    256px 156px var(--brown3),
    260px 156px var(--brown3),
    264px 156px var(--brown3),
    268px 156px var(--brown3),
    272px 156px var(--brown1),
    276px 156px var(--brown1),
    280px 156px var(--outline),

    /* line 41 */
    156px 160px var(--outline),
    160px 160px var(--brown7),
    164px 160px var(--brown7),
    168px 160px var(--brown7),
    172px 160px var(--brown7),
    176px 160px var(--brown7),
    180px 160px var(--brown7),
    184px 160px var(--brown7),
    188px 160px var(--brown5),
    192px 160px var(--brown5),
    196px 160px var(--brown5),
    200px 160px var(--brown5),
    204px 160px var(--brown5),
    208px 160px var(--brown5),
    212px 160px var(--brown5),
    216px 160px var(--brown5),
    220px 160px var(--brown5),
    224px 160px var(--brown6),
    228px 160px var(--brown6),
    232px 160px var(--brown6),
    236px 160px var(--brown6),
    240px 160px var(--brown6),
    244px 160px var(--brown6),
    248px 160px var(--brown6),
    252px 160px var(--brown6),
    256px 160px var(--brown3),
    260px 160px var(--brown3),
    264px 160px var(--brown3),
    268px 160px var(--brown3),
    272px 160px var(--brown1),
    276px 160px var(--brown1),
    280px 160px var(--outline),

    /* line 42 */
    156px 164px var(--outline),
    160px 164px var(--brown7),
    164px 164px var(--brown7),
    168px 164px var(--brown7),
    172px 164px var(--brown7),
    176px 164px var(--brown7),
    180px 164px var(--brown7),
    184px 164px var(--brown7),
    188px 164px var(--brown7),
    192px 164px var(--brown7),
    196px 164px var(--brown5),
    200px 164px var(--brown5),
    204px 164px var(--brown5),
    208px 164px var(--brown5),
    212px 164px var(--brown5),
    216px 164px var(--brown5),
    220px 164px var(--brown6),
    224px 164px var(--brown6),
    228px 164px var(--brown6),
    232px 164px var(--brown6),
    236px 164px var(--brown6),
    240px 164px var(--brown6),
    244px 164px var(--brown6),
    248px 164px var(--brown6),
    252px 164px var(--brown8),
    256px 164px var(--brown3),
    260px 164px var(--brown3),
    264px 164px var(--brown3),
    268px 164px var(--brown3),
    272px 164px var(--brown1),
    276px 164px var(--brown1),
    280px 164px var(--outline),

    /* line 43 */
    160px 168px var(--outline),
    164px 168px var(--brown7),
    168px 168px var(--brown7),
    172px 168px var(--brown7),
    176px 168px var(--brown7),
    180px 168px var(--brown7),
    184px 168px var(--brown7),
    188px 168px var(--brown7),
    192px 168px var(--brown7),
    196px 168px var(--brown5),
    200px 168px var(--brown5),
    204px 168px var(--brown5),
    208px 168px var(--brown5),
    212px 168px var(--brown5),
    216px 168px var(--brown6),
    220px 168px var(--brown6),
    224px 168px var(--brown6),
    228px 168px var(--brown6),
    232px 168px var(--brown6),
    236px 168px var(--brown6),
    240px 168px var(--brown6),
    244px 168px var(--brown6),
    248px 168px var(--brown6),
    252px 168px var(--brown8),
    256px 168px var(--brown3),
    260px 168px var(--brown3),
    264px 168px var(--brown3),
    268px 168px var(--brown3),
    272px 168px var(--brown1),
    276px 168px var(--brown1),
    280px 168px var(--outline),

    /* line 44 */
    160px 172px var(--outline),
    164px 172px var(--brown7),
    168px 172px var(--brown7),
    172px 172px var(--brown7),
    176px 172px var(--brown7),
    180px 172px var(--brown7),
    184px 172px var(--brown7),
    188px 172px var(--brown7),
    192px 172px var(--brown7),
    196px 172px var(--brown7),
    200px 172px var(--brown5),
    204px 172px var(--brown5),
    208px 172px var(--brown5),
    212px 172px var(--brown6),
    216px 172px var(--brown6),
    220px 172px var(--brown6),
    224px 172px var(--brown6),
    228px 172px var(--brown6),
    232px 172px var(--brown6),
    236px 172px var(--brown6),
    240px 172px var(--brown6),
    244px 172px var(--brown6),
    248px 172px var(--brown8),
    252px 172px var(--brown8),
    256px 172px var(--brown3),
    260px 172px var(--brown3),
    264px 172px var(--brown3),
    268px 172px var(--brown3),
    272px 172px var(--brown3),
    276px 172px var(--brown1),
    280px 172px var(--outline),

    /* line 45 */
    160px 176px var(--outline),
    164px 176px var(--brown7),
    168px 176px var(--brown7),
    172px 176px var(--brown7),
    176px 176px var(--brown7),
    180px 176px var(--brown7),
    184px 176px var(--brown7),
    188px 176px var(--brown7),
    192px 176px var(--brown7),
    196px 176px var(--brown7),
    200px 176px var(--brown9),
    204px 176px var(--brown9),
    208px 176px var(--brown9),
    212px 176px var(--brown6),
    216px 176px var(--brown6),
    220px 176px var(--brown6),
    224px 176px var(--brown6),
    228px 176px var(--brown6),
    232px 176px var(--brown6),
    236px 176px var(--brown6),
    240px 176px var(--brown6),
    244px 176px var(--brown8),
    248px 176px var(--brown8),
    252px 176px var(--brown8),
    256px 176px var(--brown3),
    260px 176px var(--brown3),
    264px 176px var(--brown3),
    268px 176px var(--brown3),
    272px 176px var(--brown3),
    276px 176px var(--brown1),
    280px 176px var(--brown1),
    284px 176px var(--outline),

    /* line 46 */
    160px 180px var(--outline),
    164px 180px var(--brown7),
    168px 180px var(--brown7),
    172px 180px var(--brown7),
    176px 180px var(--brown7),
    180px 180px var(--brown7),
    184px 180px var(--brown7),
    188px 180px var(--brown9),
    192px 180px var(--brown9),
    196px 180px var(--brown9),
    200px 180px var(--brown9),
    204px 180px var(--brown9),
    208px 180px var(--brown9),
    212px 180px var(--brown9),
    216px 180px var(--brown9),
    220px 180px var(--brown6),
    224px 180px var(--brown6),
    228px 180px var(--brown6),
    232px 180px var(--brown6),
    236px 180px var(--brown6),
    240px 180px var(--brown8),
    244px 180px var(--brown8),
    248px 180px var(--brown8),
    252px 180px var(--brown8),
    256px 180px var(--brown8),
    260px 180px var(--brown3),
    264px 180px var(--brown3),
    268px 180px var(--brown3),
    272px 180px var(--brown3),
    276px 180px var(--brown1),
    280px 180px var(--brown1),
    284px 180px var(--outline),

    /* line 47 */
    160px 184px var(--outline),
    164px 184px var(--brown7),
    168px 184px var(--brown7),
    172px 184px var(--brown7),
    176px 184px var(--brown7),
    180px 184px var(--brown7),
    184px 184px var(--brown9),
    188px 184px var(--brown9),
    192px 184px var(--brown9),
    196px 184px var(--brown9),
    200px 184px var(--brown9),
    204px 184px var(--brown9),
    208px 184px var(--brown9),
    212px 184px var(--brown9),
    216px 184px var(--brown9),
    220px 184px var(--brown9),
    224px 184px var(--brown6),
    228px 184px var(--brown6),
    232px 184px var(--brown6),
    236px 184px var(--brown8),
    240px 184px var(--brown8),
    244px 184px var(--brown8),
    248px 184px var(--brown8),
    252px 184px var(--brown8),
    256px 184px var(--brown8),
    260px 184px var(--brown3),
    264px 184px var(--brown3),
    268px 184px var(--brown3),
    272px 184px var(--brown3),
    276px 184px var(--brown1),
    280px 184px var(--brown1),
    284px 184px var(--outline),

    /* line 48 */
    160px 188px var(--outline),
    164px 188px var(--brown7),
    168px 188px var(--brown7),
    172px 188px var(--brown7),
    176px 188px var(--outline),
    180px 188px var(--brown9),
    184px 188px var(--brown9),
    188px 188px var(--brown9),
    192px 188px var(--brown9),
    196px 188px var(--brown9),
    200px 188px var(--brown9),
    204px 188px var(--brown9),
    208px 188px var(--brown9),
    212px 188px var(--brown9),
    216px 188px var(--brown9),
    220px 188px var(--brown9),
    224px 188px var(--brown9),
    228px 188px var(--brown6),
    232px 188px var(--brown8),
    236px 188px var(--brown8),
    240px 188px var(--brown8),
    244px 188px var(--brown8),
    248px 188px var(--brown8),
    252px 188px var(--brown7),
    256px 188px var(--brown7),
    260px 188px var(--brown3),
    264px 188px var(--brown3),
    268px 188px var(--brown3),
    272px 188px var(--brown3),
    276px 188px var(--brown3),
    280px 188px var(--brown1),
    284px 188px var(--outline),

    /* line 49 */
    148px 192px var(--outline),
    152px 192px var(--outline),
    156px 192px var(--outline),
    160px 192px var(--outline),
    164px 192px var(--brown7),
    168px 192px var(--brown7),
    172px 192px var(--brown7),
    176px 192px var(--outline),
    180px 192px var(--brown9),
    184px 192px var(--brown9),
    188px 192px var(--brown9),
    192px 192px var(--brown9),
    196px 192px var(--brown9),
    200px 192px var(--brown9),
    204px 192px var(--brown9),
    208px 192px var(--brown9),
    212px 192px var(--brown9),
    216px 192px var(--brown9),
    220px 192px var(--brown9),
    224px 192px var(--brown9),
    228px 192px var(--brown6),
    232px 192px var(--brown8),
    236px 192px var(--brown8),
    240px 192px var(--brown8),
    244px 192px var(--brown8),
    248px 192px var(--outline),
    252px 192px var(--outline),
    256px 192px var(--brown7),
    260px 192px var(--brown3),
    264px 192px var(--brown3),
    268px 192px var(--brown3),
    272px 192px var(--brown3),
    276px 192px var(--brown3),
    280px 192px var(--brown1),
    284px 192px var(--outline),

    /* line 50 */
    136px 196px var(--outline),
    140px 196px var(--outline),
    144px 196px var(--outline),
    148px 196px var(--brown10),
    152px 196px var(--brown10),
    156px 196px var(--brown10),
    160px 196px var(--outline),
    164px 196px var(--brown7),
    168px 196px var(--brown7),
    172px 196px var(--outline),
    176px 196px var(--brown11),
    180px 196px var(--brown11),
    184px 196px var(--brown9),
    188px 196px var(--brown9),
    192px 196px var(--brown9),
    196px 196px var(--brown9),
    200px 196px var(--brown9),
    204px 196px var(--brown9),
    208px 196px var(--brown9),
    212px 196px var(--brown9),
    216px 196px var(--brown9),
    220px 196px var(--brown9),
    224px 196px var(--brown9),
    228px 196px var(--brown8),
    232px 196px var(--brown8),
    236px 196px var(--brown12),
    240px 196px var(--brown12),
    244px 196px var(--brown12),
    248px 196px var(--brown12),
    252px 196px var(--outline),
    256px 196px var(--brown7),
    260px 196px var(--brown3),
    264px 196px var(--brown3),
    268px 196px var(--brown3),
    272px 196px var(--brown3),
    276px 196px var(--brown3),
    280px 196px var(--brown1),
    284px 196px var(--outline),

    /* line 51 */
    128px 200px var(--outline),
    132px 200px var(--outline),
    136px 200px var(--brown10),
    140px 200px var(--brown10),
    144px 200px var(--brown10),
    148px 200px var(--brown10),
    152px 200px var(--brown10),
    156px 200px var(--brown10),
    160px 200px var(--outline),
    164px 200px var(--brown7),
    168px 200px var(--brown7),
    172px 200px var(--outline),
    176px 200px var(--brown11),
    180px 200px var(--brown11),
    184px 200px var(--brown11),
    188px 200px var(--brown9),
    192px 200px var(--brown9),
    196px 200px var(--brown9),
    200px 200px var(--brown9),
    204px 200px var(--brown11),
    208px 200px var(--brown11),
    212px 200px var(--brown11),
    216px 200px var(--brown9),
    220px 200px var(--brown9),
    224px 200px var(--outline),
    228px 200px var(--outline),
    232px 200px var(--outline),
    236px 200px var(--brown12),
    240px 200px var(--brown12),
    244px 200px var(--brown12),
    248px 200px var(--brown12),
    252px 200px var(--outline),
    256px 200px var(--brown7),
    260px 200px var(--brown3),
    264px 200px var(--brown3),
    268px 200px var(--brown3),
    272px 200px var(--brown3),
    276px 200px var(--brown3),
    280px 200px var(--brown1),
    284px 200px var(--outline),

    /* line 52 */
    124px 204px var(--outline),
    128px 204px var(--brown10),
    132px 204px var(--brown10),
    136px 204px var(--brown10),
    140px 204px var(--brown10),
    144px 204px var(--brown10),
    148px 204px var(--brown10),
    152px 204px var(--brown10),
    156px 204px var(--brown10),
    160px 204px var(--outline),
    164px 204px var(--brown7),
    168px 204px var(--brown7),
    172px 204px var(--outline),
    176px 204px var(--brown11),
    180px 204px var(--brown11),
    184px 204px var(--brown9),
    188px 204px var(--brown11),
    192px 204px var(--brown11),
    196px 204px var(--brown9),
    200px 204px var(--brown11),
    204px 204px var(--brown9),
    208px 204px var(--brown9),
    212px 204px var(--brown9),
    216px 204px var(--brown11),
    220px 204px var(--brown11),
    224px 204px var(--brown9),
    228px 204px var(--brown9),
    232px 204px var(--outline),
    236px 204px var(--brown12),
    240px 204px var(--brown12),
    244px 204px var(--brown12),
    248px 204px var(--brown12),
    252px 204px var(--outline),
    256px 204px var(--brown3),
    260px 204px var(--brown3),
    264px 204px var(--brown3),
    268px 204px var(--brown3),
    272px 204px var(--brown3),
    276px 204px var(--brown3),
    280px 204px var(--brown1),
    284px 204px var(--outline),

    /* line 53 */
    120px 208px var(--outline),
    124px 208px var(--brown13),
    128px 208px var(--brown10),
    132px 208px var(--brown10),
    136px 208px var(--brown10),
    140px 208px var(--brown10),
    144px 208px var(--brown10),
    148px 208px var(--brown10),
    152px 208px var(--brown10),
    156px 208px var(--brown10),
    160px 208px var(--outline),
    164px 208px var(--brown7),
    168px 208px var(--brown7),
    172px 208px var(--outline),
    176px 208px var(--brown11),
    180px 208px var(--brown11),
    184px 208px var(--brown9),
    188px 208px var(--brown9),
    192px 208px var(--brown9),
    196px 208px var(--brown11),
    200px 208px var(--brown9),
    204px 208px var(--brown9),
    208px 208px var(--brown9),
    212px 208px var(--brown9),
    216px 208px var(--brown9),
    220px 208px var(--brown9),
    224px 208px var(--brown9),
    228px 208px var(--brown9),
    232px 208px var(--outline),
    236px 208px var(--brown12),
    240px 208px var(--brown12),
    244px 208px var(--brown12),
    248px 208px var(--outline),
    252px 208px var(--brown3),
    256px 208px var(--brown3),
    260px 208px var(--brown3),
    264px 208px var(--brown3),
    268px 208px var(--brown3),
    272px 208px var(--brown3),
    276px 208px var(--brown3),
    280px 208px var(--brown1),
    284px 208px var(--outline),

    /* line 54 */
    112px 212px var(--outline),
    116px 212px var(--outline),
    120px 212px var(--brown13),
    124px 212px var(--brown13),
    128px 212px var(--brown13),
    132px 212px var(--brown10),
    136px 212px var(--brown10),
    140px 212px var(--brown10),
    144px 212px var(--brown10),
    148px 212px var(--brown10),
    152px 212px var(--brown10),
    156px 212px var(--brown10),
    160px 212px var(--outline),
    164px 212px var(--brown7),
    168px 212px var(--brown7),
    172px 212px var(--outline),
    176px 212px var(--brown11),
    180px 212px var(--brown9),
    184px 212px var(--brown9),
    188px 212px var(--brown9),
    192px 212px var(--brown9),
    196px 212px var(--brown9),
    200px 212px var(--brown9),
    204px 212px var(--brown9),
    208px 212px var(--brown9),
    212px 212px var(--brown9),
    216px 212px var(--brown9),
    220px 212px var(--brown9),
    224px 212px var(--brown9),
    228px 212px var(--brown9),
    232px 212px var(--outline),
    236px 212px var(--brown12),
    240px 212px var(--brown12),
    244px 212px var(--brown12),
    248px 212px var(--outline),
    252px 212px var(--brown3),
    256px 212px var(--brown3),
    260px 212px var(--brown3),
    264px 212px var(--brown3),
    268px 212px var(--brown3),
    272px 212px var(--brown3),
    276px 212px var(--brown3),
    280px 212px var(--brown1),
    284px 212px var(--outline),

    /* line 55 */
    108px 216px var(--outline),
    112px 216px var(--brown14),
    116px 216px var(--brown13),
    120px 216px var(--brown13),
    124px 216px var(--brown13),
    128px 216px var(--brown13),
    132px 216px var(--brown13),
    136px 216px var(--brown10),
    140px 216px var(--brown10),
    144px 216px var(--brown10),
    148px 216px var(--brown10),
    152px 216px var(--brown10),
    156px 216px var(--brown10),
    160px 216px var(--outline),
    164px 216px var(--brown7),
    168px 216px var(--brown7),
    172px 216px var(--outline),
    176px 216px var(--brown11),
    180px 216px var(--brown9),
    184px 216px var(--brown9),
    188px 216px var(--brown9),
    192px 216px var(--brown9),
    196px 216px var(--brown9),
    200px 216px var(--brown9),
    204px 216px var(--brown9),
    208px 216px var(--brown9),
    212px 216px var(--brown9),
    216px 216px var(--brown9),
    220px 216px var(--brown9),
    224px 216px var(--brown9),
    228px 216px var(--brown9),
    232px 216px var(--outline),
    236px 216px var(--brown12),
    240px 216px var(--brown12),
    244px 216px var(--brown12),
    248px 216px var(--outline),
    252px 216px var(--brown3),
    256px 216px var(--brown3),
    260px 216px var(--brown3),
    264px 216px var(--brown3),
    268px 216px var(--brown3),
    272px 216px var(--brown3),
    276px 216px var(--brown3),
    280px 216px var(--brown1),
    284px 216px var(--outline),

    /* line 56 */
    104px 220px var(--outline),
    108px 220px var(--brown14),
    112px 220px var(--brown14),
    116px 220px var(--brown14),
    120px 220px var(--brown13),
    124px 220px var(--brown13),
    128px 220px var(--brown13),
    132px 220px var(--brown13),
    136px 220px var(--brown13),
    140px 220px var(--brown10),
    144px 220px var(--brown10),
    148px 220px var(--brown10),
    152px 220px var(--brown10),
    156px 220px var(--brown10),
    160px 220px var(--outline),
    164px 220px var(--brown7),
    168px 220px var(--brown7),
    172px 220px var(--outline),
    176px 220px var(--brown11),
    180px 220px var(--brown11),
    184px 220px var(--brown9),
    188px 220px var(--brown9),
    192px 220px var(--brown9),
    196px 220px var(--brown9),
    200px 220px var(--brown9),
    204px 220px var(--brown9),
    208px 220px var(--brown9),
    212px 220px var(--brown9),
    216px 220px var(--brown9),
    220px 220px var(--brown9),
    224px 220px var(--brown9),
    228px 220px var(--brown9),
    232px 220px var(--outline),
    236px 220px var(--brown12),
    240px 220px var(--brown12),
    244px 220px var(--brown12),
    248px 220px var(--outline),
    252px 220px var(--brown3),
    256px 220px var(--brown3),
    260px 220px var(--brown3),
    264px 220px var(--brown3),
    268px 220px var(--brown3),
    272px 220px var(--brown3),
    276px 220px var(--brown3),
    280px 220px var(--brown1),
    284px 220px var(--outline),

    /* line 57 */
    100px 224px var(--outline),
    104px 224px var(--brown15),
    108px 224px var(--brown14),
    112px 224px var(--brown14),
    116px 224px var(--brown14),
    120px 224px var(--brown14),
    124px 224px var(--brown13),
    128px 224px var(--brown13),
    132px 224px var(--brown13),
    136px 224px var(--brown13),
    140px 224px var(--brown13),
    144px 224px var(--brown10),
    148px 224px var(--brown10),
    152px 224px var(--brown10),
    156px 224px var(--brown10),
    160px 224px var(--outline),
    164px 224px var(--brown7),
    168px 224px var(--brown7),
    172px 224px var(--brown7),
    176px 224px var(--outline),
    180px 224px var(--brown11),
    184px 224px var(--brown9),
    188px 224px var(--brown9),
    192px 224px var(--brown9),
    196px 224px var(--brown9),
    200px 224px var(--brown9),
    204px 224px var(--brown9),
    208px 224px var(--brown9),
    212px 224px var(--brown9),
    216px 224px var(--brown9),
    220px 224px var(--brown9),
    224px 224px var(--brown9),
    228px 224px var(--brown9),
    232px 224px var(--outline),
    236px 224px var(--brown12),
    240px 224px var(--brown12),
    244px 224px var(--brown12),
    248px 224px var(--outline),
    252px 224px var(--brown3),
    256px 224px var(--brown3),
    260px 224px var(--brown3),
    264px 224px var(--brown3),
    268px 224px var(--brown16),
    272px 224px var(--brown3),
    276px 224px var(--brown3),
    280px 224px var(--brown1),
    284px 224px var(--outline),

    /* line 58 */
    96px 228px var(--outline),
    100px 228px var(--brown15),
    104px 228px var(--brown15),
    108px 228px var(--brown15),
    112px 228px var(--brown14),
    116px 228px var(--brown14),
    120px 228px var(--brown14),
    124px 228px var(--brown14),
    128px 228px var(--brown14),
    132px 228px var(--brown13),
    136px 228px var(--brown13),
    140px 228px var(--brown13),
    144px 228px var(--brown13),
    148px 228px var(--brown10),
    152px 228px var(--brown10),
    156px 228px var(--outline),
    160px 228px var(--brown7),
    164px 228px var(--brown7),
    168px 228px var(--brown7),
    172px 228px var(--brown7),
    176px 228px var(--outline),
    180px 228px var(--brown11),
    184px 228px var(--brown11),
    188px 228px var(--brown9),
    192px 228px var(--brown9),
    196px 228px var(--brown9),
    200px 228px var(--brown9),
    204px 228px var(--brown9),
    208px 228px var(--brown9),
    212px 228px var(--brown9),
    216px 228px var(--brown9),
    220px 228px var(--brown9),
    224px 228px var(--brown9),
    228px 228px var(--brown9),
    232px 228px var(--outline),
    236px 228px var(--brown12),
    240px 228px var(--brown12),
    244px 228px var(--brown12),
    248px 228px var(--outline),
    252px 228px var(--brown3),
    256px 228px var(--brown3),
    260px 228px var(--brown16),
    264px 228px var(--brown16),
    268px 228px var(--brown17),
    272px 228px var(--brown16),
    276px 228px var(--brown3),
    280px 228px var(--brown1),
    284px 228px var(--outline),

    /* line 59 */
    32px 232px var(--outline),
    36px 232px var(--outline),
    40px 232px var(--outline),
    44px 232px var(--outline),
    48px 232px var(--outline),
    92px 232px var(--outline),
    96px 232px var(--brown15),
    100px 232px var(--brown15),
    104px 232px var(--brown15),
    108px 232px var(--brown15),
    112px 232px var(--brown15),
    116px 232px var(--brown15),
    120px 232px var(--brown14),
    124px 232px var(--brown14),
    128px 232px var(--brown14),
    132px 232px var(--brown14),
    136px 232px var(--brown13),
    140px 232px var(--brown13),
    144px 232px var(--brown13),
    148px 232px var(--brown13),
    152px 232px var(--brown10),
    156px 232px var(--outline),
    160px 232px var(--brown7),
    164px 232px var(--brown7),
    168px 232px var(--brown7),
    172px 232px var(--brown7),
    176px 232px var(--outline),
    180px 232px var(--brown11),
    184px 232px var(--brown11),
    188px 232px var(--brown11),
    192px 232px var(--brown9),
    196px 232px var(--brown9),
    200px 232px var(--brown9),
    204px 232px var(--brown9),
    208px 232px var(--brown9),
    212px 232px var(--brown9),
    216px 232px var(--brown9),
    220px 232px var(--brown9),
    224px 232px var(--brown9),
    228px 232px var(--brown9),
    232px 232px var(--outline),
    236px 232px var(--brown12),
    240px 232px var(--brown12),
    244px 232px var(--brown12),
    248px 232px var(--outline),
    252px 232px var(--brown3),
    256px 232px var(--brown16),
    260px 232px var(--brown17),
    264px 232px var(--brown17),
    268px 232px var(--brown17),
    272px 232px var(--brown17),
    276px 232px var(--brown16),
    280px 232px var(--outline),

    /* line 60 */
    28px 236px var(--outline),
    32px 236px var(--brown18),
    36px 236px var(--brown18),
    40px 236px var(--brown18),
    44px 236px var(--brown18),
    48px 236px var(--brown18),
    52px 236px var(--outline),
    56px 236px var(--outline),
    60px 236px var(--outline),
    64px 236px var(--outline),
    68px 236px var(--outline),
    84px 236px var(--outline),
    88px 236px var(--outline),
    92px 236px var(--brown15),
    96px 236px var(--brown15),
    100px 236px var(--brown15),
    104px 236px var(--brown15),
    108px 236px var(--brown15),
    112px 236px var(--brown15),
    116px 236px var(--brown15),
    120px 236px var(--brown15),
    124px 236px var(--brown14),
    128px 236px var(--brown14),
    132px 236px var(--brown14),
    136px 236px var(--brown14),
    140px 236px var(--brown13),
    144px 236px var(--brown13),
    148px 236px var(--brown13),
    152px 236px var(--brown13),
    156px 236px var(--outline),
    160px 236px var(--brown7),
    164px 236px var(--brown7),
    168px 236px var(--brown7),
    172px 236px var(--brown7),
    176px 236px var(--outline),
    180px 236px var(--outline),
    184px 236px var(--brown11),
    188px 236px var(--brown11),
    192px 236px var(--brown11),
    196px 236px var(--brown9),
    200px 236px var(--brown9),
    204px 236px var(--brown9),
    208px 236px var(--brown9),
    212px 236px var(--brown9),
    216px 236px var(--brown9),
    220px 236px var(--brown9),
    224px 236px var(--brown9),
    228px 236px var(--brown11),
    232px 236px var(--outline),
    236px 236px var(--brown12),
    240px 236px var(--brown12),
    244px 236px var(--brown12),
    248px 236px var(--outline),
    252px 236px var(--brown16),
    256px 236px var(--brown17),
    260px 236px var(--brown17),
    264px 236px var(--brown17),
    268px 236px var(--brown17),
    272px 236px var(--brown17),
    276px 236px var(--brown16),
    280px 236px var(--outline),

    /* line 61 */
    28px 240px var(--outline),
    32px 240px var(--brown1),
    36px 240px var(--brown1),
    40px 240px var(--brown1),
    44px 240px var(--brown1),
    48px 240px var(--brown1),
    52px 240px var(--brown18),
    56px 240px var(--brown18),
    60px 240px var(--brown18),
    64px 240px var(--brown18),
    68px 240px var(--brown18),
    72px 240px var(--outline),
    76px 240px var(--outline),
    80px 240px var(--outline),
    84px 240px var(--brown15),
    88px 240px var(--brown15),
    92px 240px var(--brown15),
    96px 240px var(--brown15),
    100px 240px var(--brown15),
    104px 240px var(--brown15),
    108px 240px var(--brown15),
    112px 240px var(--brown15),
    116px 240px var(--brown15),
    120px 240px var(--brown15),
    124px 240px var(--brown15),
    128px 240px var(--brown14),
    132px 240px var(--brown14),
    136px 240px var(--brown14),
    140px 240px var(--brown14),
    144px 240px var(--brown14),
    148px 240px var(--brown13),
    152px 240px var(--brown13),
    156px 240px var(--outline),
    160px 240px var(--brown20),
    164px 240px var(--brown7),
    168px 240px var(--brown7),
    172px 240px var(--brown7),
    176px 240px var(--outline),
    180px 240px var(--brown19),
    184px 240px var(--outline),
    188px 240px var(--brown11),
    192px 240px var(--brown11),
    196px 240px var(--brown11),
    200px 240px var(--brown11),
    204px 240px var(--brown11),
    208px 240px var(--brown9),
    212px 240px var(--brown9),
    216px 240px var(--brown9),
    220px 240px var(--brown11),
    224px 240px var(--brown11),
    228px 240px var(--brown11),
    232px 240px var(--outline),
    236px 240px var(--brown12),
    240px 240px var(--brown12),
    244px 240px var(--brown12),
    248px 240px var(--outline),
    252px 240px var(--brown16),
    256px 240px var(--brown17),
    260px 240px var(--brown17),
    264px 240px var(--brown17),
    268px 240px var(--brown17),
    272px 240px var(--brown17),
    276px 240px var(--brown16),
    280px 240px var(--outline),



    20px 5px var(--outline);

}
